Repository voxpupuli/puppet-keepalived, pull requests merged in 2019-03, with the labels that each got.

#162 Drop support for Puppet 3, Puppet 4 and Debian 7
  .sync.yml
  .travis.yml
  README.md
  metadata.json
Labels: backwards-incompatible

#163 Use data types instead of validate functions
  manifests/init.pp
  manifests/lvs/real_server.pp
  manifests/lvs/virtual_server.pp
  manifests/vrrp/instance.pp
  manifests/vrrp/script.pp
  spec/acceptance/class_spec.rb
  spec/classes/keepalived_spec.rb
  spec/defines/keepalived_lvs_real_server_spec.rb
  spec/defines/keepalived_lvs_virtual_server_spec.rb
  spec/defines/keepalived_vrrp_instance_spec.rb
  types/options.pp
Labels: backwards-incompatible

#166 Add badges
  README.md
Labels: docs

#155 some README cleanup
  README.md
Labels: docs, needs-rebase

#164 Fix Github License detection
  LICENSE
Labels: docs

#167 removes trailing whitespace in README.md
  README.md
Labels: docs, skip-changelog

#168 Beaker : fix fact test
  spec/acceptance/class_spec.rb
  spec/acceptance/fact_spec.rb
  spec/acceptance/keepalived_spec.rb
Labels: skip-changelog

#171 release 2.0.0
  CHANGELOG.md
Labels: skip-changelog

#172 add keepalived vrrp track_process support w/tests
  README.md
  manifests/config.pp
  manifests/init.pp
  manifests/vrrp/instance.pp
  manifests/vrrp/track_process.pp
  spec/defines/keepalived_vrrp_track_process_spec.rb
  templates/vrrp_instance.erb
  templates/vrrp_track_process.epp
Labels: enhancement

#177 use Stdlib::Absolutepath datatype with vrrp script
  manifests/vrrp/script.pp
  spec/defines/keepalived_vrrp_script_spec.rb
Labels: backwards-incompatible

#174 feat: add quorum_up and quorum_down in virtual_server
  manifests/lvs/virtual_server.pp
  spec/defines/keepalived_lvs_virtual_server_spec.rb
  templates/lvs_virtual_server.erb
Labels: enhancement

#180 Change the fullcommand parameter to full_command for keepalived::vrrp::track_process
  manifests/vrrp/track_process.pp
  spec/defines/keepalived_vrrp_track_process_spec.rb
  templates/vrrp_track_process.epp
Labels: bug
