Repository voxpupuli/puppet-keepalived, pull requests merged in 2019-06, with the labels that each got.

#182 Allow puppetlabs/concat 6.x, puppetlabs/stdlib 6.x
  metadata.json
Labels: bug

#184 add support for native_ipv6 in vrrp instances
  README.md
  manifests/vrrp/instance.pp
  manifests/vrrp/sync_group.pp
  spec/defines/keepalived_vrrp_instance_spec.rb
  spec/defines/keepalived_vrrp_sync_group_spec.rb
  templates/vrrp_instance.erb
  templates/vrrp_sync_group.erb
Labels: enhancement

#185 release 2.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
