Repository voxpupuli/puppet-keepalived, pull requests merged in 2021-04, with the labels that each got.

#232 puppetlabs/concat: Allow 7.x / puppetlabs/stdlib: Allow 7.x
  metadata.json
Labels: enhancement

#235 Drop Debian 8 support
  metadata.json
Labels: backwards-incompatible

#233 Enable Debian 9 support
  metadata.json
Labels: enhancement

#234 Drop Puppet 5 support; add Puppet 7 support
  metadata.json
Labels: backwards-incompatible

#236 release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#230 make unicast-peer resource-name unique by adding the instance-name
  manifests/vrrp/instance.pp
  spec/defines/keepalived_vrrp_instance_spec.rb
Labels: bug
