Repository voxpupuli/puppet-keepalived, pull requests merged in 2022-10, with the labels that each got.

#274 modulesync 5.3.0
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#275 add option to set a vrrp track file
  manifests/vrrp/instance.pp
  manifests/vrrp/track_file.pp
  spec/defines/keepalived_vrrp_track_file_spec.rb
  templates/vrrp_instance.erb
  templates/vrrp_track_file.epp
Labels: enhancement

#273 add global option vrrp_min_garp
  REFERENCE.md
  manifests/global_defs.pp
  spec/classes/keepalived_global_defs_spec.rb
  templates/globaldefs.erb
Labels: enhancement

#276 Release 3.5.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
