Repository voxpupuli/puppet-keepalived, pull requests merged in 2022-06, with the labels that each got.

#267 Add support of vrrp_notify_fifo*
  README.md
  manifests/global_defs.pp
  spec/classes/keepalived_global_defs_spec.rb
  templates/globaldefs.erb
Labels: enhancement

#268 modulesync 5.3.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
Labels: modulesync

#269 Release 3.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#270 fix template rendering with vrrp_priority and vrrp_fifo_* options
  spec/classes/keepalived_global_defs_spec.rb
  templates/globaldefs.erb
Labels: bug
