Repository voxpupuli/puppet-keepalived, pull requests merged in 2024-03, with the labels that each got.

#312 (#310) {vrrp_,}track_file: Enforce only String datatype
  REFERENCE.md
  manifests/vrrp/instance.pp
  spec/defines/keepalived_vrrp_instance_spec.rb
Labels: bug

#318 Release 4.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#322 vrrp_instance::track_script: Fix Datatype-Mismatch
  REFERENCE.md
  manifests/vrrp/instance.pp
  spec/defines/keepalived_vrrp_instance_spec.rb
  templates/vrrp_instance.erb
Labels: bug

#325 Refactor acceptance test
  spec/acceptance/keepalived_spec.rb
Labels: skip-changelog

#299 Add EL9 support
  metadata.json
Labels: enhancement

#326 Add Ubuntu 22.04 support
  metadata.json
Labels: enhancement
