Repository voxpupuli/puppet-keepalived, pull requests merged in 2024-01, with the labels that each got.

#306 modulesync 7.2.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#303 Avoid messing up fragment ordering if instance name contains dashes
  manifests/vrrp/instance.pp
  manifests/vrrp/unicast_peer.pp
Labels: bug

#305 Improve collect_unicast_peers
  manifests/vrrp/instance.pp
  templates/vrrp_instance.erb
Labels: bug

#309 Release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#291 Replace all occurrences of illegal chars in the name var
  REFERENCE.md
  manifests/lvs/real_server.pp
  manifests/lvs/virtual_server.pp
  manifests/vrrp/script.pp
  manifests/vrrp/sync_group.pp
Labels: bug
