Repository voxpupuli/puppet-keepalived, pull requests merged in 2024-04, with the labels that each got.

#327 Drop Debian 10 support
  metadata.json
Labels: backwards-incompatible

#321 vrrp::instance: virtual_rules: Enforce Array datatype
  REFERENCE.md
  manifests/vrrp/instance.pp
  templates/vrrp_instance.erb
Labels: backwards-incompatible

#320 vrrp::instance: track_interface: Enforce Array datatype
  REFERENCE.md
  manifests/vrrp/instance.pp
  templates/vrrp_instance.erb
Labels: backwards-incompatible

#319 vrrp::instance: track_script: Enforce Array datatype
  REFERENCE.md
  manifests/vrrp/instance.pp
Labels: backwards-incompatible

#329 vrrp::instance::track_script: Enforce Array datatype 2
  REFERENCE.md
  manifests/vrrp/instance.pp
  spec/defines/keepalived_vrrp_instance_spec.rb
Labels: backwards-incompatible

#330 modulesync 7.4.0
  .github/CONTRIBUTING.md
  .gitignore
  .msync.yml
  Dockerfile
Labels: modulesync

#334 Add OracleLinux Support
  metadata.json
Labels: enhancement

#332 Add AlmaLinux support
  metadata.json
Labels: enhancement

#333 Add Rocky Support
  metadata.json
Labels: enhancement

#335 service: hasrestart/hasstatus: use Puppet defaults
  REFERENCE.md
  data/os/Debian.yaml
  data/os/Gentoo.yaml
  data/os/RedHat.yaml
  manifests/init.pp
  spec/classes/keepalived_spec.rb
Labels: bug

#336 Release 5.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#337 modulesync 7.5.0
  .msync.yml
Labels: modulesync
